@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    
}
.banner{
  background-image: url('../public/banner-bg.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  
}
.skills,.edac,.main{
 background-image: url('../public/beautiful-night-sky-with-shiny-stars.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  color: inherit;
  text-decoration: none;
}

*{
  box-sizing:border-box; 
}


 @font-face {
  font-family: "AmaticSC";
  src: url("../public/AmaticSC.ttf");
 }
  @font-face {
  font-family: "monteserrat";
  src: url("../public/monteserrat.ttf");
  }
    @font-face {
  font-family: "russoOne";
  src: url("../public/RussoOne.ttf");
 }

    @font-face {
  font-family: "dancingScript";
  src: url("../public/dancingScript.ttf");
 }

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
